/* #eee */
/* #999 */

body {
    width: 960px;
    margin: 0 auto;
    line-height: 150%;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.fixed {
    position: fixed;
    background: #eee;
    padding: 40px;
}

.relative {
    position: relative;
    background: #eee;
    padding-bottom: 200px;
    text-align: center;
}

.absolute {
    position: absolute;
    background: #999;
    padding: 40px;
    right: 270px;
    bottom: 150px;
}